<a href="https://colab.research.google.com/github/Likitha38/python/blob/main/FUNCTIONS_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*** USE THE CONCEPT OF FUNCTIONS TO SOLVE THE BELOW PROGRAMMING QUESTIONS ***

1) Write a Python function to sum all the numbers in a list.

> Add blockquote



Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [1]:
#WRITE YOUR CODE HERE
list=[8,2,3,0,7]
sum=0
for j in list:
  sum += j
print(sum)

20

2) Write a Python function to multiply all the numbers in a list.

Sample List : (8, 2, 3, -1, 7)

Expected Output : -336

In [2]:
#WRITE YOUR CODE HERE
list=[8,2,3,-1,7]
multiply=1
for j in list:
  multiply *= j
print(multiply)

-336

3) Write a Python program to reverse a string.

Sample String : "1234abcd"

Expected Output : "dcba4321"

In [3]:
#WRITE YOUR CODE HERE
i=input()
print(i[::-1])

1234abcd
dcba4321

4) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [4]:
#WRITE YOUR CODE HERE
a=int(input())
b=1
for i in range(1,a+1):
  b *= i
print(b)

3
6

5) Write a Python function to check whether a number falls within a given range.

In [5]:
#WRITE YOUR CODE HERE
i=int(input())
j=int(input())
k=int(input())
if j <= i <=k :
  print('true')
else:
  print('false')

2
3
4
false